.banners-container{
    display: grid;
    justify-content: center;
    gap: 16px;
    padding: 0 30px 50px 30px; 
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    .banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-repeat: no-repeat;
        background-size:cover;
        height: 415px;
        color:$background;
        border-radius: 7px;

        .banner-content{
            padding: 0 clamp(30px,7vw,130px);
            max-width: 600px;

            h2{
                @include font-custom($font-stack,700,35px,32px);
                padding-bottom: 30px;
            }

            p{
                @include font-custom($secondary-font-stack,400,20px,32px);
                padding-bottom: 32px;
                max-width: 23ch;
            }

            p ~ a{
                @extend %button-design;
            }
            
        }
    }

    .banner-left{
        background-image: url(../images/banners/banner-left.png);
        
        .highlight{
            @include highlight($primary-color);
        }
    }

    .banner-right{
        background-image: url(../images/banners/aplikacja.png);
       
        .highlight{
            @include highlight($red-primary);
        }

        .banner-content p{
            padding-bottom: 10px;
            max-width: 27ch;
        }

        .badges{
            display: flex;
            gap:10px;
            padding-bottom: 10px;
            
                a:hover{
                    opacity: .8;
                }
                a:active{
                    opacity: .5;
                }
        }
    }
}