.swiper-slide {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(388px, 1fr));
    align-items: center;
    font-size: 18px;
    background: $background;

    .swiper-left{
        text-align: left;
        padding-left: 18%;
        padding-right: 22%;
        margin-top: -8%;

        h1{
            @include font-custom($font-stack, 700, clamp(40px,5vw,56px), clamp(50px,5vw,65px));
            padding-bottom: 28px;

            .highlight{
                @include highlight($primary-color)
              }        
        }

        p{
        @include font-custom($secondary-font-stack,300,clamp(16px,2vw,20px), 25px);
        padding-bottom: 36px;
        max-width: 35ch;

            strong{
                font-family: $font-stack;
            }
        }

        a{
            @extend %button-design;
        }
    }
    .swiper-right{
        .header-img{
            background-image: url(../images/header/Bitmapv.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 611px;
        }
    }
}

.swiper-pagination{
    display: flex;
    padding: 0 9%;
    align-items: center;
    border: none;
    gap:10px;

    &.swiper-pagination-bullets.swiper-pagination-horizontal{
        bottom: 60px;
    }

    %bullet-design{
        opacity: 1;
        border: none;
        background-color: $background;
    }

    .swiper-pagination-bullet{
        @extend %bullet-design;
        width: 8px;
        height: 8px;
        background-image: url(../images/header/bullet.svg);
    }
    
    .swiper-pagination-bullet-active{
        @extend %bullet-design;
        width: 11px;
        height: 11px;
        background-image: url(../images/header/bullet-active.svg);
    }
}

@media only screen and (max-width: 768px){
    .header .header-swiper .swiper-slide{
        grid-template-columns: 1fr;
        grid-template-rows: 250px 1fr;

        .swiper-left{
            order:2;
            padding-top: 32px;
            padding: 10%;
        }

        .swiper-right{
            order: 1;
            .header-img{
                height: 250px;
                background-size: cover;
            }
        }
    }
    .header .swiper-pagination{
        display: block;
    }

    .header-swiper .swiper-pagination-bullets.swiper-pagination-horizontal{
        bottom: -10px;
    }
}